
{% if use_custom_favicon %}
Alias /favicon.ico {{ webui_basedir }}/static-extra/favicon.ico
Alias /static/hyperkitty/img/favicon.ico {{ webui_basedir }}/static-extra/favicon.ico
Alias /static/postorius/img/favicon.ico {{ webui_basedir }}/static-extra/favicon.ico
{% else %}
Alias /favicon.ico {{ webui_basedir }}/static/hyperkitty/img/favicon.ico
{% endif %}
Alias /robots.txt  {{ webui_basedir }}/static/robots.txt
Alias /static      {{ webui_basedir }}/static

<Directory "{{ webui_basedir }}/static">
    Require all granted
</Directory>

