[
{% for domain, display_name in domains.items() %}
{
    "fields": {
        "domain": "{{ domain }}",
        "name": "{{ display_name }}"
    },
    "model": "sites.site",
    "pk": {{ loop.index }}
}{% if not loop.last %},{% endif %}
{% endfor %}
{% if auth %},{% endif %}
{% for service_name, service_data in auth.items() %}
{
    "fields": {
        "name": "{{ service_data.display_name }}",
        "sites": [
            {% for domain, display_name in domains.items() %}
            {{ loop.index }}{% if not loop.last %},{% endif %}
            {% endfor %}
        ],
        "client_id": "{{ service_data.client_id }}",
        "secret": "{{ service_data.client_secret }}",
        "key": "",
        "provider": "{{ service_data.provider }}"
    },
    "model": "socialaccount.socialapp",
    "pk": {{ loop.index }}
}{% if not loop.last %},{% endif %}
{% endfor %}
]
