# This is the absolute bare minimum base configuration file.  User supplied
# configurations are pushed onto this.

[mailman]
# This address is the "site owner" address.  Certain messages which must be
# delivered to a human, but which can't be delivered to a list owner (e.g. a
# bounce from a list owner), will be sent to this address.  It should point to
# a human.
site_owner: {{ site_owner_email }}

# The local URL part to the administration interface (Postorius).
# The full URL will be constructed by prepending the domain URL set in the
# list's domain properties.
listinfo_url = /admin/

# Set the paths to be Fedora-compliant
layout: fhs

[paths.dev]
var_dir = {{ webui_basedir }}/var

[paths.fhs]
bin_dir: /usr/libexec/mailman3
var_dir: /var/lib/mailman3
queue_dir: /var/spool/mailman3
log_dir: /var/log/mailman3
lock_dir: /run/lock/mailman3
ext_dir: /etc/mailman3.d
pid_file: /run/mailman3/master.pid

[database]
class: mailman.database.postgresql.PostgreSQLDatabase
url: postgresql://{{ db_user }}:{{ _db_pw }}@{{ _db_server }}/{{ db_name }}

[archiver.hyperkitty]
class: mailman_hyperkitty.Archiver
enable: yes
configuration: {{ webui_confdir }}/mailman-hyperkitty.cfg

[archiver.prototype]
enable: yes


[antispam]
# This section defines basic antispam detection settings.

# This value contains lines which specify RFC 822 headers in the email to
# check for spamminess.  Each line contains a `key: value` pair, where the key
# is the header to check and the value is a Python regular expression to match
# against the header's value.  E.g.:
#
# X-Spam: (yes|maybe)
#
# The header value and regular expression are always matched
# case-insensitively.
header_checks:
    X-Spam: yes
    X-Spam-Flag: Yes
    X-Spam-Status: ^Yes,

# The chain to jump to if any of the header patterns matches.  This must be
# the name of an existing chain such as 'discard', 'reject', 'hold', or
# 'accept', otherwise 'hold' will be used.
jump_chain: discard


[mta]
remove_dkim_headers: yes
{% if with_postfix %}
incoming: mailman.mta.postfix.LMTP
outgoing: mailman.mta.deliver.deliver
lmtp_host: 127.0.0.1
lmtp_port: 8024
smtp_host: localhost
smtp_port: 25
configuration: python:mailman.config.postfix
{% endif %}


[webservice]
admin_user: {{ rest_user }}
admin_pass: {{ rest_pw }}


[language.en]
# Change the english language to be UTF-8 (it defaults to ascii).
description: English (USA)
charset: utf-8
enabled: yes


# http://www.lingoes.net/en/translator/langcode.htm

[language.pt]
description: Protuguese
charset: iso-8859-15
enabled: yes

[language.cs]
description: Czech
charset: utf-8
enabled: yes

[language.ca]
description: Catalan
charset: utf-8
enabled: yes

[language.ja]
description: Japanese
charset: utf-8
enabled: yes

[language.ar]
description: Arabic
charset: utf-8
enabled: yes

[language.nl]
description: Dutch
charset: utf-8
enabled: yes

[language.pl]
description: Polish
charset: utf-8
enabled: yes

[language.es]
description: Spanish
charset: utf-8
enabled: yes

[language.pt_BR]
description: Protuguese (Brazil)
charset: iso-8859-15
enabled: yes

[language.zh_CN]
description: Chinese (S)
charset: utf-8
enabled: yes

[language.zh_TW]
description: Chinese (T)
charset: utf-8
enabled: yes

[language.ru]
description: Russian
charset: utf-8
enabled: yes

[language.vi]
description: Vietnamese
charset: utf-8
enabled: yes

[language.it]
description: Italian
charset: utf-8
enabled: yes

[language.fr]
description: French
charset: utf-8
enabled: yes

[language.ro]
description: Romanian
charset: utf-8
enabled: yes

[language.de]
description: German
charset: utf-8
enabled: yes

[language.hu]
description: Hungarian
charset: utf-8
enabled: yes

[language.ko]
description: Korean
charset: utf-8
enabled: yes

[language.uk]
description: Ukrainian
charset: utf-8
enabled: yes
