# Run the post-update script

hyperkitty:install:{{ webui_basedir }}/bin/post-update.sh
hyperkitty:update:{{ webui_basedir }}/bin/post-update.sh
postorius:install:{{ webui_basedir }}/bin/post-update.sh
postorius:update:{{ webui_basedir }}/bin/post-update.sh
python-django-mailman3:install:{{ webui_basedir }}/bin/post-update.sh
python-django-mailman3:update:{{ webui_basedir }}/bin/post-update.sh
